{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "rules": {
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "operator-linebreak": [0],
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }]
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "jest/globals": true
  }
}
